:root {
    --bg: white;
    --text: black;
    --panel: #f0f0f0;
}

.dark {
    --bg: #111;
    --text: #eee;
    --panel: #1b1b1b;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* prevents scrolling, so the webpage seems to fill up more. */
    font-family: "Orbitron", sans-serif;
    background: var(--bg);
    color: var(--text);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    margin: 0 auto;
}

header {
    background-color: var(--text);
    color: var(--bg);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    height: 80px;
    line-height: 40px;
}

/* rt-list is for reaction time categories found in the html */

.rt-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rt-list li {
    display: flex;
    justify-content: space-between;
    width: 260px;   
    margin-bottom: 8px;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
}


.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.instructions {
    width: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 2px solid black;
    box-sizing: border-box;
    background-color: var(--panel);
}

#startButton {
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 20px;
}

#startButton:hover {
    color: white;
    background-color: black;
    transition: all 0.25s ease;
}


.text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; /* space between text and button */
    text-align: center;
}

.game {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column; /* stack text above button */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-left: 2px solid black;
    box-sizing: border-box;
    position: relative;
    transition: all 0.1s linear;
    font-family: "Orbitron", sans-serif;
    background-color: var(--panel);
}

#playAgainButton {
    width: 500px;
    height: 50px;
    letter-spacing: 10px;
    font-size: 20px;
    font-style: italic;
    background: linear-gradient(to right, rgb(128, 239, 103), rgb(38, 110, 4));
    padding: 10px 20px;
    border: 4px solid;
    border-image: linear-gradient(to right, rgb(122, 244, 94), rgb(24, 72, 2)) 1;
    cursor: pointer;
    margin-top: 200px;
    font-family: "Orbitron", sans-serif;
}

.reaction-output {
    font-size: 30px;
    font-weight: bold;
}

/* holy shi who would have actually thought a css stylesheet would be 70+ lines of code :skull: */